ns1_credentials_json_path = "ns1_credentials.json"
ns1_project               = "<ns1-project>"
ns1_region                = "us-west1"
ns1_zone                  = "us-west1-a"
ns2_credentials_json_path = "ns2_credentials.json"
ns2_project               = "<ns2-project>"
ns2_region                = "us-east1"
ns2_zone                  = "us-east1-b"
user                      = "<user>"
public_key_path           = "id_rsa.pub"
domain                    = "<domain>"
ns1_ns2_key_name          = "ns1-ns2"
ns1_ns2_key_path          = "ns1-ns2.key"
ddns_key_name             = "ddns"
ddns_key_path             = "ddns.key"
